<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My Blog</title>
  </head>
  <body>

  

  <section>
    <article>
      <h2>Post Title 1</h2>
      <p>Post content goes here...</p>
    </article>

    <article>
      <h2>Post Title 2</h2>
      <p>More awesome content...</p>
    </article>
  </section>

 

</body>
</html>